name: Lint

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
        with:
          lfs: true

      - name: Install Rokit
        uses: ./.github/actions/setup-rokit
        with:
          cache: true

      - name: Install Wally packages
        run: chmod +x ./scripts/install-packages.sh && sh ./scripts/install-packages.sh

      - name: Run Selene
        run: |
          selene src/
