name: Publish release
permissions:
  contents: write
on:
  push:
    tags: ["v*"]

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          generate_release_notes: true

  wally_publish:
    name: Publish to Wally
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          generate_release_notes: true

      - name: Install Rokit
        uses: ./.github/actions/setup-rokit
        with:
          cache: true

      - name: Login to Wally
        run: |
          mkdir -p ~/.wally
          printf '[registry."https://github.com/UpliftGames/wally-index"]\ntoken = "Bearer ${{ secrets.WALLY_API_TOKEN }}"' > ~/.wally/auth.toml

      - name: Upload to Wally
        run: wally publish